# Core LangChain packages
langchain
langchain-text-splitters
langchain-community
langchain-google-genai

# Vector Store
chromadb               

# LLMs
google-generativeai
tiktoken                

# Utils
python-dotenv
sqlalchemy
pydantic
